@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #330c55;
  color: white;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animate {
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

/* Disable pull-to-refresh on mobile */
body {
  overscroll-behavior-y: contain;
}

/* Improve touch feedback on mobile */
@media (hover: none) {
  .button:active {
    transform: scale(0.98);
  }
}

